extends layout
block content
	div(class="panel panel-default")
		div(class="panel-heading") Registrate
		div(class="panel-body")
			div(class="input-group")
				span(class="input-group-addon") @ Nickname
				input(type="text", class="form-control" placeholder="Nickname" id="nickname" value="#{username}")
				
	div#content